@font-face {
    font-family: 'luckiest_guyregular';
    src: url('luckiestguy-webfont.eot');
    src: url('luckiestguy-webfont.eot?#iefix') format('embedded-opentype'),
    url('luckiestguy-webfont.woff2') format('woff2'),
    url('luckiestguy-webfont.woff') format('woff'),
    url('luckiestguy-webfont.ttf') format('truetype'),
    url('luckiestguy-webfont.svg#luckiest_guyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
Etape 2 :
- Ramenez ici toutes les propriétés de style du SVG qui peuvent être exportées dans un fichier CSS
*/
:root{
    --light-color: #008B6F;
    --dark-color: #00392D;
}
circle{
    fill: transparent;
    stroke: var(--light-color);
    stroke-width: 7px;
}
line{
    stroke: var(--dark-color);
    stroke-width: 5px;
    stroke-linecap: round;
}
text{
    font-family: "luckiest_guyregular", "cursive", "Comic Sans MS";
    fill: #F6F7F3;
    stroke: var(--dark-color);
    stroke-width: 3px;
    font-size: 60px;
    text-anchor: middle;
}
polygon{
    fill: var(--light-color);
    stroke: var(--dark-color);
    stroke-width: 2px;
    stroke-linejoin: round;
}