@font-face {
    font-family: 'luckiest_guyregular';
    src: url('luckiestguy-webfont.eot');
    src: url('luckiestguy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../n2-shapes/n2-03-logo/luckiestguy-webfont.woff2') format('woff2'),
    url('../../n2-shapes/n2-03-logo/luckiestguy-webfont.woff') format('woff'),
    url('luckiestguy-webfont.ttf') format('truetype'),
    url('luckiestguy-webfont.svg#luckiest_guyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* reprenez ici votre feuille de style de l'exercie 06-logo-svg-groups, nous allons la compéter */

:root{
    --light-color: #008B6F;
    --dark-color: #00392D;
}
svg{
    width: 50%;
    height: auto;
}
circle{
    fill: transparent;
    stroke: var(--light-color);
    stroke-width: 7px;
}
line{
    stroke: var(--dark-color);
    stroke-width: 5px;
    stroke-linecap: round;
}
text{
    font-family: "luckiest_guyregular", "cursive", "Comic Sans MS";
    fill: #F6F7F3;
    stroke: var(--dark-color);
    stroke-width: 3px;
    font-size: 60px;
    text-anchor: middle;
}
polygon{
    fill: var(--light-color);
    stroke: var(--dark-color);
    stroke-width: 2px;
    stroke-linejoin: round;
}
.triangle_group:first-of-type{
    transform: translate(45px, 67px) rotate(10deg);
    transform-origin: 12.5px 12.5px;
}
